<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us /Blocash</title>
    <link rel="shortcut icon" href="/static/img/logos.jpg.png">

    <style>
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
    </style>
</head>
<body>
    <div style="font-family: Sans-serif ;full-background-color:rgb(248,249,250);padding:18px;color:black"><br><h2 style="font-family: Sans-serif ;color:black;">About Us !</h2>

        <img src="/static/img/logos.jpg.png" alt="logo" height="60px" width="60px" class="center"> 

        
        <h2 style="font-family: Sans-serif ;text-align: center;">Welcome To <span id="W_Name1" >Blocash</span></h2>
        <p style="text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" ><span id="W_Name2">Blocash</span> is a Professional <span id="W_Type1">Finance app</span> Platform. Here we will only provide you with interesting content<br> that you will enjoy very much. We are committed to providing you the best of <br> <span id="W_Type2">Finance app</span>, with a focus on reliability and <span id="W_Spec">Have blockchain embedded in it so to make your payments more secure.<br> Makes the app more fun and interesting  for the user as he/she can update their progress on the story and can share their emotions with their friends. <br></span>. we strive to turn our passion for <span id="W_Type3">Finance app</span> into a thriving application.<br> We hope you enjoy our <span id="W_Type4">Finance app</span> as much as we enjoy giving them to you.</p>
        <p style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">I will keep on posting such valuable anf knowledgeable information on my app for all of you. Your love and support matters a lot.</p><br>
        <p style="font-weight: bold; text-align: center;">Thank you For Visiting Our Site<br><br><br>
        <span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a great day !</span></p></div><br><br>
</body>
</html>