<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Generate SHA256 Hash</title>


  <!-- CSS styles -->
  <style>
    label {
      display: block;
      margin-top: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-top: 5px;
    }

    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
  </style>
</head>

<body>
  <img src="/static/img/logos.jpg.png" alt="logo" height="60px" width="60px" class="center">

  <link rel="shortcut icon" href="/static/img/logos.jpg.png">

  <form id="transaction_form" method="post" action="/transact/">
    {% csrf_token %}
    <label for="transaction_id">Transaction ID:</label>
    <input type="text" id="transaction_id" name="transaction_id" value={{transaction_id}} contenteditable="false"
      readonly><br>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount"><br>

    <label for="payer_name">Payer Name:</label>
    <input type="text" id="payer_name" name="payer_name"><br>

    <label for="payer_email">Payer Email:</label>
    <input type="email" id="payer_email" name="payer_email"><br>

    <label for="payer_address">Payer Address:</label>
    <input type="text" id="payer_address" name="payer_address"><br>

    <label for="payee_name">Payee Name:</label>
    <input type="text" id="payee_name" name="payee_name"><br>

    <label for="payee_email">Payee Email:</label>
    <input type="email" id="payee_email" name="payee_email"><br>

    <label for="payee_address">Payee Address:</label>
    <input type="text" id="payee_address" name="payee_address"><br>

  </form>
  <button type="submit" id="generate_hash_button">Generate Hash</button>

</body>

</html>

<script>
  document.getElementById("generate_hash_button").addEventListener('click', async function () {
    // Define the string to encrypt
    const stringToEncrypt = [
      document.getElementById('transaction_id').value,
      document.getElementById('amount').value,
      document.getElementById('payer_name').value,
      document.getElementById('payer_email').value,
      document.getElementById('payer_address').value,
      document.getElementById('payee_name').value,
      document.getElementById('payee_email').value,
      document.getElementById('payee_address').value
    ];

    // Define transaction details
    const transaction = {
      "transaction_id": stringToEncrypt[0],
      "amount": stringToEncrypt[1],
      "payer": {
        "name": stringToEncrypt[2],
        "email": stringToEncrypt[3],
        "address": stringToEncrypt[4]
      },
      "payee": {
        "name": stringToEncrypt[5],
        "email": stringToEncrypt[6],
        "address": stringToEncrypt[7]
      }
    };

    // Convert transaction object to JSON object
    const transactionJSON = JSON.stringify(transaction);


    async function sha256(message) {
      const encoder = new TextEncoder();
      const data = encoder.encode(message);
      const hashBuffer = await crypto.subtle.digest('SHA-256', data);
      const hashArray = Array.from(new Uint8Array(hashBuffer));
      const hashHex = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');
      return hashHex;
    }

    

    console.log(stringToEncrypt);

    // Generate a random encryption key
    const key = await window.crypto.subtle.generateKey(
      { name: "AES-GCM", length: 256 },
      true,
      ["encrypt", "decrypt"]
    );

    const jwk = await window.crypto.subtle.exportKey("jwk", key);
    const encodedKey = JSON.stringify(jwk);
    // Generate a random initialization vector
    const iv = await window.crypto.getRandomValues(new Uint8Array(12));
    // Define the encryption algorithm
    const algorithm = { name: "AES-GCM", iv: iv };
    const encrypted_data = [];
    for (let index = 0; index < stringToEncrypt.length; index++) {
      // Convert the string to a Uint8Array
      const data = new TextEncoder().encode(stringToEncrypt[index]);


      // Encrypt the data using the key and algorithm
      const encryptedData = await window.crypto.subtle.encrypt(algorithm, key, data);

      // Encode the encrypted data as a Base64 string
      const base64EncodedData = btoa(String.fromCharCode(...new Uint8Array(encryptedData)));

      encrypted_data.push(base64EncodedData);
    }

    // Example usage
    const message = transactionJSON;
    sha256(message)
      .then(hash => {
        encrypted_data.push(hash);
      })
      .catch(error => {
        console.error('Error:', error);
      });

    const formData = new FormData();
    formData.append('transaction_id', encrypted_data[0]);
    formData.append('amount', encrypted_data[1]);
    formData.append('payer_name', encrypted_data[2]);
    formData.append('payer_email', encrypted_data[3]);
    formData.append('payer_address', encrypted_data[4]);
    formData.append('payee_name', encrypted_data[5]);
    formData.append('payee_email', encrypted_data[6]);
    formData.append('payee_address', encrypted_data[7]);
    formData.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
    formData.append('key', encodedKey);
    formData.append('iv', JSON.stringify(iv));
    formData.append('hash', JSON.stringify(encrypted_data[8]))

    console.log(encrypted_data, encodedKey, JSON.stringify(iv))
    fetch('/transact/', {
      method: 'POST',
      body: formData
    }).then(response => {
      // Handle the response
    }).catch(error => {
      // Handle the error
    });
  });

</script>