<html>
<h1>Story</h1>
<p>Welcome to our new app blocash! We bring you the newsest feature and to share your progress within our app and have the safe and happy journey.</p>
<h1>Advantages</h1>
<ul>
<li>
<p>By including a story feature in our app , we have provided  a fun and interactive way for users to engage with our content.We have also provided with a fun environment for the users</p>
</li>
<li>
<p>Stories allow users to create and share their own content in a more casual and spontaneous way. This can encourage users to share more user-generated content on our app , which will help to build community and increase engagement.</p>
</li>
<li>
<p>Our Stories uploaded on our app Blocash will remain for a week and show the progress of the users to our users. Users achievement will be only be viewable to users for satisfying their achievement need and the progress will be saved in the users history.</p>
</li>
<li>
<p>While sharing your stories in our app your Reference Number,Payment Time ,Paymentb Method ,Sender Name,Amount ,Admin Fee will be shown but it will only be viewable to you . It will be type of your hIstory which will be able only be visible to you without accessing your history to tell you your all transactions history within that week.</p>
</li>
<li>
<p> A story feature can be a valuable addition to your app or website, providing a range of benefits for both users and businesses. </p>
</li>
<h1>Story main highlights</h1>
<li>
<p>Story will be shared automatically as well as saved in your history. This feature is introduced as you don't have to check your history again and again so you can see your one week transactions through it. You can also delete your story if you dont wish to share your progress.</p>
</ul>
<h1>Contact Us</h1>
<p>If you have any questions about these Terms and Conditions, You can contact us:</p>
<ul>
<li>
<p>By email: official@blocash.com</p>
</li>
<li>
<p>By visiting this page on our website: <a href="http//:www.blocash.com" rel="external nofollow noopener" target="_blank">http//:www.blocash.com</a></p>
</li>
</ul>
</html>